<!DOCTYPE html>
{%load static %}
<html lang="en">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Stowpoint - Engineering Procurment</title>

<!-- Stylesheets -->
<link href="{% static 'css/style.css'%}" rel="stylesheet">
<link href="{% static 'css/responsive.css'%}" rel="stylesheet">
<link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">

</head>

<!-- page wrapper -->
<body class="boxed_wrapper">


    <!-- preloader -->
    <div class="preloader"></div>
    <!-- preloader -->


    <!-- search-box-layout -->
    <div class="wraper_flyout_search">
        <div class="table">
            <div class="table-cell">
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-close">
                    <span class="flyout-search-close-line"></span>
                    <span class="flyout-search-close-line"></span>
                </div>
                <div class="flyout_search">
                    <div class="flyout-search-title">
                        <h4>Search</h4>
                    </div>
                    <div class="flyout-search-bar">
                        <form role="search" method="get" action="#">
                            <div class="form-row">
                                <input type="search" placeholder="Type to search..." value="" name="s" required="">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search-box-layout end -->


    <!-- main header -->
    <header class="main-header style-two">
        <!-- header-top -->
        <div class="header-top">
            <div class="container">
                <div class="inner-container clearfix">
                    <ul class="header-info pull-left">
                        <li>Time : Monday-Friday 09am-5pm</li>
                        <li><i class="flaticon-telephone-auricular-with-cable"></i><a href="tel:(+234)07064449451">(234) 0706 444 9451</a></li>
                    </ul>
                    <ul class="header-nav pull-right">
                        <!-- <li><a href="">Careers</a></li> -->
                        <li><a href="{% url 'contact' %}">Contacts</a></li>
                        <li>
                            <div class="language dropdownn">
                                <a class="dropdown-toggle" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Eng</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                                    <li><a href="#">Eng</a></li>
                                    <li><a href="#">Chi</a></li>
                                    <li><a href="#">Ger</a></li>
                                    <li><a href="#">Fre</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- header-top end -->

        <!-- header-bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="outer-container">
                    <div class="nav-outer clearfix">
                        <div class="menu-area pull-left clearfix">
                            <figure class="logo-box"><a href="{% url 'home' %}"><img src="{% static 'images/logo-main.png'%}" alt=""></a></figure>
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->      
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class=""><a href="{% url 'home' %}">Home</a>
                                        </li>
                                        <li class=""><a href="{% url 'about' %}">About Us</a>
                                        </li> 
                                        <li class="dropdown"><a href="{% url 'services' %}">Our services</a>
                                            <ul>

                                                <li><a href="{% url 'procurement' %}">Procurement </a></li>
                                                <li><a href="{% url 'chemicals' %}">Chemicals Supply  </a></li>
                                                <li><a href="{% url 'equipment' %}">Equipment Rental </a></li>
                                                <li><a href="{% url 'marine' %}">Marine logistic & Offshore </a></li>
                                                <li><a href="{% url 'civil' %}">Civil Works </a></li>
                                                <li><a href="{% url 'manpower' %}">Skilled Manpower  </a></li>
                                            </ul>
                                        </li>                              
                                        <li class="current"><a href="{% url 'contact' %}">Contact Us</a>
                                        </li> 
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="info-box pull-right clearfix">
                            <!-- <div class="shop-cart"><a href="shop.html"><i class="flaticon-shopping-bag"></i><span>0</span></a></div> -->
                            <div class="search-box">
                                <div class="header-flyout-searchbar">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="btn-box"><a href="{% url 'contact' %}"><i class="fas fa-arrow-right"></i>Support</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom end -->

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box"><a href="#"><img src="{% static 'images/logo-stick.png'%}" alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class=""><a href="{% url 'home' %}">Home</a>
                                </li>
                                <li class=""><a href="{% url 'about' %}">About Us</a>
                                </li> 
                                <li class="dropdown"><a href="{% url 'services' %}">Our services</a>
                                    <ul>

                                        <li><a href="{% url 'procurement' %}">Procurement </a></li>
                                        <li><a href="{% url 'chemicals' %}">Chemicals Supply  </a></li>
                                        <li><a href="{% url 'equipment' %}">Equipment Rental </a></li>
                                        <li><a href="{% url 'marine' %}">Marine logistic & Offshore </a></li>
                                        <li><a href="{% url 'civil' %}">Civil Works </a></li>
                                        <li><a href="{% url 'manpower' %}">Skilled Manpower  </a></li>
                                    </ul>
                                </li>                              
                                <li class="current"><a href="{% url 'contact' %}">Contact Us</a>
                                </li> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sticky-header end -->
    </header>
    <!-- main-header end -->


    <!-- contact-banner -->
    <section class="contact-banner centred" style="background-image: url('/static/images/background/contact-bg.jpg');">
        <div class="container">
            <div class="content-box">
                <h1>Contact Us</h1>
                <h3>If you have any general enquiries, we'd love to hear from you</h3>
            </div>
        </div>
    </section>
    <!-- contact-banner end -->


    <!-- contact-info-section -->
    <section class="contact-info-section contact-page-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 info-column">
                    <div class="single-info-box">
                        <div class="icon-box"><i class="flaticon-location"></i></div>
                        <h3>Location</h3>
                        <div class="text"><b>Stowpoint Services (Administrative Office)</b>
                            12A Olabanji Olajide Street, Lekki , Lagos, Nigeria.
                            <hr>
                            <b>Stowpoint Services Limited (Operational Facility)</b>
                            Km 500 East West Road, Port-harcourt, Rivers, Nigeria.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 info-column">
                    <div class="single-info-box">
                        <div class="icon-box"><i class="flaticon-telephone"></i></div>
                        <h3>Call us on</h3>
                        <div class="text">
                            <a href="tel:8801912704287">(234) 0706 444 9451</a><br />
                            <!-- <a href="tel:029292162">029292162</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 info-column">
                    <div class="single-info-box">
                        <div class="icon-box"><i class="flaticon-envelope"></i></div>
                        <h3>Location</h3>
                        <div class="text">
                            <a href="mailto:info@example.com">info@stowpoint.co.uk</a>
                            <!-- <a href="mailto:support@example.com">support@example.com</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-info-section end -->


    <!-- contact-section -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 form-column">
                    <div class="contact-form-area">
                        <h2>Drop us a line</h2>
                        <form method="post" action="http://azim.commonsupport.com/Acto/sendemail.php" id="contact-form" class="default-form"> 
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Your Name*" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Your Email*" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Phone number" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" placeholder="Your Message"></textarea>
                            </div>
                            <div class="form-group message-btn">
                                <button type="submit" class="theme-btn" name="submit-form">Submit a Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 map-column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6742034809477!2d3.467302714770264!3d6.435875095343734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5ad82eb2677%3A0xdf5664a59c3d87c3!2s12a%20Olabanji%20Olajide%20St%2C%20Lekki%20Phase%201%20100001%2C%20Lagos!5e0!3m2!1sen!2sng!4v1679920613917!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->


    <!-- main-footer -->
    <footer class="main-footer style-two">
        <div class="container">
            <div class="footer-top">
                <div class="widget-section">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="logo-widget footer-widget">
                                <figure class="footer-logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo-foot.png'%}" alt=""></a></figure>
                                <p class="text">
                                    Stowpoint Services Limited is an indigenous oil and gas servicing company incorporated in
                                     2017 with administrative office in Lagos Nigeria.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="links-widget company-widget footer-widget">
                                <h4 class="widget-title">Useful Links</h4>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'services' %}">Services</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="links-widget footer-widget">
                                <h4 class="widget-title">Services</h4>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="{% url 'procurement' %}">Procurement </a></li>
                                        <li><a href="{% url 'chemicals' %}">Chemicals Supply  </a></li>
                                        <li><a href="{% url 'equipment' %}">Equipment Rental </a></li>
                                        <li><a href="{% url 'marine' %}">Marine logistic </a></li>
                                        <li><a href="{% url 'civil' %}">Civil Works </a></li>
                                        <li><a href="{% url 'manpower' %}">Skilled Manpower</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="links-widget footer-widget">
                                <h4 class="widget-title">Contact Info</h4>
                                <div class="widget-content">
                                    <ul>
                                        <li> <a href="#"><p>(Administrative Office) 12A Olabanji Olajide Street, Lekki , Lagos, Nigeria.</p></a></li>
                                        <br>
                                        <li> <a href="#"><p>(Operational Facility) Km 500 East West Road, Port-harcourt, Rivers, Nigeria.</p></a></li>
                                        <br>
                                        <li><a href="#">(234) 0706 444 9451</a></li>
                                        <br>
                                        <li><a href="#">info@stowpoint.co.uk</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left"><a href="#">© 2023 Stowpoint Services Limited ALL RIGHTS RESERVED </a></div>
                <ul class="footer-social pull-right">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->



<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>



<!-- jequery plugins -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{%static  'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>

<script src="{% static 'js/owl.js'%}"></script>
<script src="{% static 'js/wow.js'%}"></script>
<script src="{% static 'js/validation.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.js'%}"></script>
<script src="{% static 'js/appear.js'%}"></script>
<script src="{% static 'js/aos.js'%}"></script>
<script src="{% static 'js/isotope.js'%}"></script>
<script src="{% static 'js/jquery.countTo.js'%}"></script>
<script src="{% static 'js/jquery-ui.js'%}"></script>

<!-- map script -->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>
<script src="{% static 'js/gmaps.js'%}"></script>
<script src="{% static 'js/map-helper.js'%}"></script>

<!-- main-js -->
<script src="{% static 'js/script.js'%}"></script>

</body><!-- End of .page_wrapper -->

</html>
